body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(229, 99, 99);
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.page-buttons {
    display: flex;
    padding: 12px;
    gap: 6px;
    justify-content: center;
}



* {
    box-sizing: border-box;
}

.pomodoro-popup {
    padding: 24px;
    margin: 12px;
    background-color: rgb(255, 88, 88);
    color: white;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px rgb(186, 49, 49);
    border-radius: 50%;
    flex-direction: column;
}


.pomodoro-popup button {
    font-weight: 400;
    cursor: pointer;
    width: 120px;
}





.pomodoro-popup-short-break {
    padding: 24px;
    margin: 12px;
    background-color: rgb(255, 88, 88);
    color: white;
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 10px rgb(186, 49, 49);
    border-radius: 50%;
    flex-direction: column;
}


.pomodoro-popup-short-break button {
    font-weight: 400;
    cursor: pointer;
    width: 120px;
}




.positive-button {
    background-color: rgb(100, 233, 90);
    color: white;
}






.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}


.configuration-floating-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 12px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: center;

}


.configuration-floating-button:active{
    scale: 1.1;
}