* {
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: rgb(178, 71, 71);
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Para outros navegadores */
html {
    scrollbar-width: none; /* Para navegadores Firefox */
}

.task-card {
    transition: 0.6s;
    cursor: pointer;

}

.delete-button {
    z-index: 999;
    width:0; overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}


.task-card:hover
{
    .delete-button {
        z-index: 999;
        width: 20px;
        height: 20px;
        margin-left: 8px;
        color:gray;
    }

    .delete-button:hover{
        color: black;
    }

}

.task-card:active
{
}


.task-card-completed {
    border-bottom: 6px solid greenyellow;
}

.d-invisible {
    visibility: hidden;
}